.header { /* stylelint-disable */
  height: 50px;
  background-color: darkgray;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.brand {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.goToHomePageButton, .signIn, .userName {
  text-align: center;
  font-size: 15px;
  color: white;
  cursor: pointer;
  outline: 0;
}
